<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SCITU Bandit</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'home/uikit.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/hamburger.css' %}" />
    <script src="{% static 'home/uikit.min.js' %}"></script>
</head>
<body>
    <div class="uk-position-relative">
        <nav class="uk-navbar-container" uk-navbar="dropbar: true" style="background-color:#bb0404">
            <div class="uk-navbar-left">
              <a href="http://127.0.0.1:8000/home/">
                  <img src="{% static 'home/pictures/b.png' %}" style="width:300px; margin: 10px;" />
              </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                  <li>
                      <a href="http://127.0.0.1:8000/documents/">แบบคำร้อง/เอกสารบัณฑิต</a>
                  </li>
                  <li>
                      <a href="http://127.0.0.1:8000/meeting/">รายงานการประชุมกรรมการบัณฑิต</a>
                  </li>
                  <li>
                      <a href="http://127.0.0.1:8000/contact/">ติดต่อเรา</a>
                  </li>
                </ul>
                <div class="dropdown">
                    <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>
                    <div class="dropdown-content">
                      <a href="http://127.0.0.1:8000/documents/">แบบคำร้อง/เอกสารบัณฑิต</a>
                      <a href="http://127.0.0.1:8000/meeting/">รายงานการประชุมกรรมการบัณฑิต</a>
                      <a href="http://127.0.0.1:8000/contact/">ติดต่อเรา</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div style="margin-left:20px; margin-top:20px;">
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
          <div>
            <h2><span class=".uk-text-lead">แบบคำร้อง/เอกสารบัณฑิต</span></h2>
            <table class="uk-table uk-table-middle uk-table-divider">
                <tbody>
                  <tr>
                      <td>
                        {% for document in all_document %}
                          <a class=".uk-text-lead" href="http://127.0.0.1:8000/files/{{document.file}}" download> {{ document.title }}</a>
                          {% if document.url %}
                            <a class=".uk-text-lead" href="{{document.url}}"> &nbsp;(Online) </a>
                          {% endif %}
                          <br>
                        {% endfor %}
                      </td>
                  </tr>
                  <td>
                  </td>
                </tbody>
            </table>
          </div>
          <div>
            <h2><span class=".uk-text-lead">แบบฟอร์มภาษาอังกฤษ(สำหรับนักศึกษาต่างชาติ)</span></h2>
            <table class="uk-table uk-table-middle uk-table-divider">
                <tbody>
                  <tr>
                      <td>
                        {% for EngDocument in all_EngDocument %}
                          <a class=".uk-text-lead" href="http://127.0.0.1:8000/files/{{EngDocument.file}}" download> {{ EngDocument.title }}</a>
                          {% if EngDocument.url %}
                            <a class=".uk-text-lead" > &nbsp;(Online) </a>
                          {% endif %}
                          <br>
                        {% endfor %}
                      </td>
                  </tr>
                  <td>
                  </td>
                </tbody>
            </table>
          </div>
        </div>
        <h3 style="margin-top:0">รูปแบบการทำวิทยานิพนธ์ และขั้นตอน</h3>
        {% for form in all_form %}
          <a class=".uk-text-lead" href="/documents/{{ form.id }}/"> {{ form.title }}</a>
          <br>
        {% endfor %}
    </div>
    <div class="uk-position-relative" style="margin-top:100px;">
        <nav class="uk-navbar-container" uk-navbar="dropbar: true" style="background-color:#bb0404; height:118px;">
            <div class="uk-navbar-left">
                <a href="demo.html" style="visibility:hidden">
                    aaa
                </a>
            </div>
        </nav>
    </div>
</body>
</html>
